#session {
    background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%), 
        url('../sources/background.jpg.jpg'); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    min-height: 80vh; 
    display: flex; 
    align-items: center;
    justify-content: center;
    padding: 20px; 
}

.tamanho{
    width: 50%;
}

.tamanho-2{
    width: 50%;
}


#dados_api{
    max-height: 300px; 
    overflow-y: auto; 
}

#input{
    min-height: 300px !important;
}

.loading-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/* Spinner style */
.loading-spinner {
    border: 8px solid #f3f3f3; /* Light grey background */
    border-top: 8px solid #14961f; /* Blue spinner */
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
}

/* Spinner animation */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (max-width: 900px) {
    .tamanho{
        width: 100%;
    }
    .tamanho-2{
        width: 100%;
    }

    #formulario{
        flex-direction: column !important;
    }

  }