#session {
    background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%), 
        url('../sources/background.jpg.jpg'); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    min-height: 80vh; 
    display: flex; 
    align-items: center;
    justify-content: center;
    padding: 20px; 
}

.tamanho{
    width: 50%;
}

.tamanho-2{
    width: 50%;
}


#dados_api{
    max-height: 300px; 
    overflow-y: auto; 
}

#formulario{
    min-height: 300px !important;
}

@media (max-width: 900px) {
    .tamanho{
        width: 100%;
    }
    .tamanho-2{
        width: 100%;
    }

    #formulario{
        flex-direction: column !important;
    }

  }